<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default("Casepoint CMS Site") }}</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo"><a href="/">Casepoint.</a></div>
      <nav>
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer class="site-footer">
      <div class="footer-left">Casepoint.</div>
      <div class="footer-right">© {{ "" | year }} Casepoint. All rights reserved.</div>
    </footer>
  </body>
</html>
