
/* site wise and header */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000de;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.7rem;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}


/* banner section  */

.banner {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.banner-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.banner .left {
  flex: 1;
  min-width: 280px;
  padding-right: 2rem;
}

.banner .left h1 {
  font-size: 3.1rem;
  margin-bottom: 1rem;
}

.banner .left p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.banner .btn {
  display: inline-block;
  background-color: #000000;
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.banner .btn:hover {
  color: #000000;
  background-color: #ffffffd3; 
  border: 2px solid #000000;
}

.banner .right {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.banner .right img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

/* blogs section  */

.blogs {
  padding: 3rem 2rem;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.blog-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ececec6c;
  gap: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #ddd;
  padding: 2rem; 
  border-radius: 12px;
}   

.blog-text {
  flex: 0 0 65%;
  padding-left: 2rem;
  
}

.blog-text h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.blog-author {
  font-size: 0.9rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.2rem;
}

.blog-date {
  font-size: 0.8rem;
  color: #777;
  margin-bottom: 0.8rem;
}

.blog-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
}

.blog-image {
  flex: 0 0 35%; 
}

.blog-image img {
  width: 250px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  
}

/* site-wise footer  */

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  margin-top: 3rem;
  border-top: 2px solid #444;
}

.footer-left {
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.footer-right {
  font-size: 1rem;
  color: #ccc;
}




