---
layout: layouts/base.njk
title: Home
---

{# Banner Section #}
<section class="banner">
  {% for banner in contentful.banner %}
    <div class="banner-content">
      <div class="left">
        <h1>{{ banner.fields.title }}</h1>
        <p>{{ banner.fields.subtitle }}</p>
        <a href="{{ banner.fields.buttonLink }}" class="btn">{{ banner.fields.buttonText }}</a>
      </div>
      <div class="right">
        {% if banner.fields.backgroundImage %}
        <img src="https:{{ banner.fields.backgroundImage.fields.file.url }}" alt="Banner Image" />
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>


<hr>

{# Blog Listing #}
<section class="blogs">
  <h2 class="section-title">Latest Blogs</h2>

  {% for blog in contentful.blogs %}
    <div class="blog-card">
      <div class="blog-text">
        <h3>{{ blog.fields.title }}</h3>
        <p class="blog-author">By {{ blog.fields.author }}</p>
        <p class="blog-date">Created At: {{ blog.fields.date }}</p>
        <p class="blog-description">{{ blog.fields.shortDescription }}</p>
      </div>

      {% if blog.fields.blogImage %}
        <div class="blog-image">
          <img src="https:{{ blog.fields.blogImage.fields.file.url }}" alt="Blog Image" />
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>


<hr>

{# Text Modules #}
<section class="blogs">
  <h2 class="section-title">Text Modules</h2>

  {% for mod in contentful.modules %}
    {% set direction = "row" %}
    {% if mod.fields.imagePosition == "Right" %}
      {% set direction = "row-reverse" %}
    {% endif %}

    <div class="blog-card {% if mod.fields.imagePosition == 'Right' %}reverse{% endif %}">

      <div class="blog-text">
        <h3>{{ mod.fields.title }}</h3>
        <p class="blog-description">{{ mod.fields.description }}</p>
      </div>

      <div class="blog-image">
        <img src="https:{{ mod.fields.image.fields.file.url }}" alt="Module Image" />
      </div>
    </div>
  {% endfor %}
</section>


